APP_TIMEZONE = "Asia/Singapore"
DB_HOST = "your-rds-endpoint"
DB_NAME = "spotify"
DB_PASSWORD = "your-db-password"
DB_PORT = "5432"
DB_USER = "spotify_admin"
SPOTIFY_PROFILE_URL = "https://open.spotify.com/user/your_username"
